.container {
    width: full;
    display: flex;
    flex-direction:row;
    /* justify-content:space-between; */
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 40px -10px #000
    /* height: 40px; */
}

.bar {
    display: flex;
    justify-content: center;
}

.create {
    flex: 10%;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}

.about {
    flex: 10%;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}

.home {
    flex: 10%;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}

.logout {
    flex: 10%;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}