.container {
    /* width: full; */
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    /* height: 40px; */
    
}
.bar {
    display: flex;
    justify-content: center;
}

.create {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}

.about {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}

.home {
    color: white;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}

.logout {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
    border-width: 4px;
    text-decoration: none;
}